@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
@keyframes binary-rain {
  0% {
    transform: translateY(-120%);
    opacity: 0.9;
  }
  100% {
    transform: translateY(120%);
    opacity: 0.1;
  }
}

.animate-binary-rain {
  animation-name: binary-rain;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
